.post {
    margin: 0 0 1em 0;
    list-style: none
}

.post-date {
    font-weight: 700;
    margin: 0 .5em 0 0;
}

.post-text {
    
}

.post-image {
    margin: .5em 0 .5em 0;
    max-width: 100%;
    max-height: 100%;
}