$page-max-width: 800px;

// Viewport widths
$viewport-mobile: 200px;
$viewport-xsmall: 430px;
$viewport-small: 550px;
$viewport-medium: 48em;
$viewport-large: 64em;

// Colors
$bg-color: #FFF8E8;//#c38d9e;
$text-color: #332E3C;
$accent: purple;
$base: #333 !default;
$accent-bg-color: $bg-color;